[submodule "Lua-Adapter"]
	path = Lua-Adapter
	url = https://github.com/JlnWntr/Lua-Adapter.git
[submodule "SDL"]
	path = SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
[submodule "lodepng"]
	path = lodepng
	url = git@github.com:lvandeve/lodepng.git
